.wrapper-main {
    width: 200%;
    margin: 0 auto;
}
textarea {
    width: 200px;
    height: 60px;
    resize: vertical;
}
textarea,input {
    border: 1px solid #ccc;
}

textarea:focus,input[type="text"]:focus {
    outline: 1px solid black;
}

select {
    border: 1px solid #ccc;
    width: 200px;
}

button {
    background-color: bisque;
    border: none;
}
input [type=text],textarea,select,button{
    padding: 10px;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(232, 188, 135);
    cursor: pointer;
}