:root {
    --site-color-1:#c11e1e;;
    --site-color-1-hover:#9ab1dd;
} 

body{
    background-image: url(image/akk.jpg);
    right: 0 0 0 0;

    

}

.wrapper-main{
    width: 1100px;
    margin: 0 auto;
}

.image-index{
    width: 100%;
    display: flex;
    float: left;
    margin-top: 30px;
    
}

.main-header{
    position: fixed;
    top: 0;
    margin: auto;
    width: 120%;
    height: 50px;
   
    background-color:#030101;
    display: flex;
    justify-content: space-between;
    z-index: 1000;

}



.header-nav-bar li {
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
    align-items: center;
    color: #000;
    display: inline-block;
    height: 100%;
    text-decoration: none;
}
.header-nav-bar {
    width: fit-content;
    height:200%;
    margin-top: 0%;
  
    }


main{
    width: 70%;
    height: calc(100vh - 60px);
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20%;
    color:black;
}

.main-intro {
    padding-bottom: 6vh;
 }

.main-quote p {
    font-size: 19px;
    justify-content: center;
    line-height: 30px;
    align-items: center;
    border-left: 3px solid red;
    padding-left: 10px;
    margin: 30px 0;   
}

.main-quote :nth-child(2) {
    margin-left: 70px;
}



.header-nav-bar li{
    width: 50px;
    padding: 0 10px;
    margin: 10px 10px;
    margin-bottom: 30px;
    display: flex;
    font-size: 20px;
    float: right; 
    
}


.folio ul{
    margin-left: 10px;
    display: flex;
}

.header-nav-bar ul{
    margin-right: 20px;

}


.header-nav-bar li a {
    list-style: none;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-decoration: none;
}

.header-nav-bar li a:hover{
    color: #c11111;
    transition: 0.15ms;
}

   
main.main-intro h1,h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.main-intro p{
    font-size: 30px;
    flex-grow: 3px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.main-intro a{
    font-size: 14px;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: #c11111;
    padding: 10px 20px;
    width: fit-content;
}

.main-intro a:hover{
    color: #e38a8a;
    opacity: 0.7;
    
}

strong{
    color:red;
}
.folio a{
    margin-right: 20px;
    text-decoration: none;
    font-size: 30px;
    list-style: none;
    color: #fff;
    
}
/*category section*/

.category-section {
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
    
   
}
.category-section p {
    text-align: center;
    color:red;
    padding: 30px 30px;
    flex-basis: 100%;
    font-size: 22px;
    text-transform: uppercase;
}
.category-box {
    width: 100%;
    height: 200px;
    background-color: rgb(50, 70, 90);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.category-box h3{
    font-size: 22px;
    color: red;
    line-height: 20px;
    text-align: center;
    text-shadow: 0px -2px 0px 4px;
    z-index: 100;
}

.dark-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    transition: all ease-in-out 100ms;
}

.category-box:hover .dark-overlay{
    opacity: 0;

}

.category-box:nth-child(2) {
    background-image: url(/image/14.jpg);
}
.category-box:nth-child(3) {
    background-image: url(/image/12.jpg);
}
.category-box:nth-child(4) {
    background-image: url(/image/13.jpg);
}
.category-box:nth-child(5) {
    background-image: url(/image/66.jpg);
}

/*footer section*/

.footer-main {
    width: 100%;
    padding: 60px 0 100px;
    background-color: #141414;
    color: white;
 }
 .footer-main-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .footer-testimonia {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

 }
 .footer-testimonia img {
    width: 150px;
    border-radius: 150px;
 }
 .footer-testimonia p {
    display: flex;
    text-align: center;
    font-size: 14px;
    padding: 14px 14px ;
   
    
 }
 .footer-getintouch {
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
    margin: 30px 0 50px;
    border: 2px solid #fff;
    font-weight: 600;
    transition: all ease-in-out 0.15s;
 }
 .footer-getintouch:hover{
    border: 2px solid var(--site-color-1)
 }
 .footer-sitemap ul {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 30px 30px;  

 }

 .footer-sitemap {
    flex-basis: 100%;
    display: flex;
 }

 .footer-sitemap a {
    line-height: 30px;
    text-decoration: none;
    color: white;
    
 }
 .footer-sitemap a:hover {
    opacity: 0.7;
 }

 .profile img {
    width: 180px;
    border-radius: 180px;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.buger-menu, .buger-menu-btn {
    display: none;
}


/* MOBILE VERSION*/

@media only screen and (max-width: 760px){
    .buger-menu-btn {
        display: flex;
        margin-right: 18%;
       position: relative;
        margin-top: 7px 7px;
        width: 40px;
        height: 50px;
        background-color: #fff;
        background-image: url(icons/icon\ open.png), url(icons/close\ icon.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, center right 50px;
        
    }

    

    .buger-menu {
        padding-left: 0%;
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 900;
        background-color: #111;

    }

    .buger-menu ul {
        width: 100%;
        height: calc(100vh - 50px);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    
    .buger-menu ul li {
       flex-basis: 70%;
       border-top: 2px solid #000;
 
    }

    .buger-menu ul li:last-child {
        border-bottom: 2px solid #000;
  
     }
     
    
    .buger-menu ul li a {
       display: block;
       height: 100%;
       font-size: 10px;
       padding: 30px 0;
       flex-basis:100%;
       text-align: center;
       text-decoration: none;
       color: #fff;
       font-size: 30px;
     }

    main{
        align-items: flex-end;
      
    }
    main.main-intro h1,h2{
        font-size: 20px;
        line-height: 14px;
        padding: 10px, 10px 10px;
        text-align: center;
        
     
    }
    .main-intro p{
        font-size: 14px;
        text-align: center; 
        padding-left: 10px;
        
    }
    .main-intro a{
        margin: 10px auto;

    }

    
.wrapper-main{
    width: calc(100% - 20px);
  
}
.header-nav-bar {
   display: none;
   
}

.folio ul{
    float: left;
    padding-left: 10px;
}
.main-quote p {
display: none;
}

/* CATEGORY SECTION*/

.category-section {
    padding: 30px 0 10px;
    align-items: center;
    row-gap: 10px;
}

.category-section p {
    padding: 10px;
}

.category-box {
    width: calc(100% - 20px);
    height: 160px;   
}
/* Footer section*/
.footer-testimonia {
    display: none;
 }

 .profile  {
    display: none;
}


.service-section {
   row-gap: 10px;
   top:9px;
}


}

    

    





 